@import "tailwindcss";

/* * {
    background: url('https://iv.okcdn.ru/getVideoPreview?id=8052769098399&idx=7&type=39&tkn=PpKyej2HVeLYEG3bwrb_2rMmLvY&fn=vid_w');
    background-size: cover;
    background-position: center;
} */