ENV=development

BASE_URL=http://localhost:8000

JWT_SECRET_KEY=your_super_secret_key_here_change_me

PHONE_HASH_SALT=your_salt_for_phone_hashing
PHONE_ASYNC_CLIENT_API_ID=your_sms_api_key

REDIS_PASSWORD=your_redis_password

DATABASE_DB_USER=postgres
DATABASE_DB_PASSWORD=postgres_pass
DATABASE_DB_HOST=localhost
DATABASE_DB_PORT=5432
DATABASE_DB_NAME=mydb
DATABASE_DATABASE_URL=postgresql://postgres:postgres_pass@localhost:5432/mydb

S3_ACCESS_KEY=your_access_key
S3_SECRET_KEY=your_secret_key

MASTER_KEY=base64_encoded_master_key
ENCRYPT_NONCE=base64_encoded_nonce
ROTATION_KEYS={"rot1": "rot_key_b64"}